<section class="login-section bg-secondary-theme">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-effect">
            <div class="card-body">
              <h2 class="text-center text-theme-primary">Login</h2>
              <p class="text-center text-muted mb-4">
                Sign in to your account to continue!
              </p>
              <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <div class="form-group mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" name="email" ngModel #email="ngModel" class="form-control" placeholder="Enter your email" />
                </div>
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" name="password" ngModel #password="ngModel" id="password" class="form-control" placeholder="Enter your password" />
                </div>
                <div class="d-grid mt-4">
                  <button type="submit" class="btn btn-theme">Login</button>
                </div>
                <p class="text-center mt-3">
                  Don't have an account?
                  <a routerLink="/auth/register" class="text-theme-primary">Register here</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  