nav {
    margin-top: 0; 
    height: 40px; 
    background-color: var(--navbar-footer-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link {
    font-size: 1em; 
    font-weight: 500; 
    color: var(--primary-color); 
    text-transform: uppercase;
    text-decoration: none; 
    transition: all 0.3s ease; 
}

.nav-link:hover {
    color: var(--secondary-color); 
}

.nav-link:focus {
    outline: none; 
}
