<section class="featured-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center mt-5">
          <h2 class="text-white">Featured Posts</h2>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni asperiores minima id ipsa
            explicabo vero, commodi quae facilis quas reiciendis quis perspiciatis expedita! Quis eos cumque consequatur
            laboriosam repellat molestias!</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <app-post-card />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <app-post-card />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <app-post-card />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <app-post-card />
        </div>
      </div>
  
    </div>
  </section>
  
  <section class="latest-posts container mt-5">
    <div class="col-md-12 text-center">
      <h2>Latest Posts</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo esse odit facere ex sapiente beatae animi assumenda
        omnis nobis. Reiciendis autem ratione iure optio accusantium eligendi eos, ut adipisci nulla!</p>
    </div>
  
    <div class="row">
      <div class="col-md-4 mt-3">
        <app-post-card />
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card />
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card />
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card />
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card />
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card />
      </div>
    </div>
  </section>
  