header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-footer-color); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 0 15px;
}

.site-logo {
    font-size: 1.5em; 
    font-weight: 600; 
    color: var(--primary-color); 
    text-decoration: none;
    transition: color 0.3s ease; 
}

.site-logo:hover {
    color: var(--body-text-color);
}

